<<<<<<< HEAD
.h1-form{
      text-align: center;
    font-size: 38px;
    color: white;
}


=======
>>>>>>> 70b3c39cafbe74ea698180a240bf8432353fdfa3
form {
    justify-content: center;
    align-self: center;
    margin-left: 50px;
}


label {
    color: white;
}