
.homepage h1 {
    text-align: center;
    color: white ;
    font-size: 3rem;
    text-shadow: 0 0 10px black;
    font-family: 'Poppins';
   
}

.homepage h2 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: 'Poppins';
    text-shadow: 0 0 10px black;
}

.fontaa {
    font-family :'Poppins';
    font-weight: bold;
}


.homepage p {
    text-align: center;
    
}


.oferty {
display: flex;            
  flex-wrap: wrap;    
  justify-content: center; 
  gap: 20px;            
  margin-top: 30px;     
}