
.homepage h1 {
    text-align: center;
    color: white ;
    font-size: 3rem;
    text-shadow: 0 0 10px black;
    font-family: 'Poppins';
   
}

.homepage h2 {
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: 'Poppins';
    text-shadow: 0 0 10px black;
}

.fontaa {
    font-family :'Poppins';
    font-weight: bold;
}


.homepage p {
    text-align: center;
    
}


.oferty {
display: flex;            
  flex-wrap: wrap;    
  justify-content: center; 
  gap: 20px;            
  margin-top: 30px;     
}

.btnzamowienie {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.btnZamow {
  width: 260px;
  height: 75px;
  background: #6f6c30;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.85;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
