.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    color: white;

    font-size: 1.1rem;
    margin-top: 40px; 
}
