.navbar {
     width: 100%;
    display: flex;
    justify-content: center; /* logo po lewej, linki po prawej */
    align-items: center;
    padding: 10px 60px; /* odsunięcie od brzegów – 60px regulujesz */
    z-index: 100;
}


.navbar-left {
    float: left;
    gap: 12px;
}



.navbarlinks {
    display: flex;
    gap: 30px;
}

.logo {
    height: 32px;
}
.navbarlinks a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}