.ofertyUslug {
    display: flex;            
    flex-wrap: wrap;    
    justify-content: center; 
    gap: 20px;            
    margin-top: 30px;     
}


.ofertyUslug img {
    width: 285px;
    height: 240px;
}