html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("./assets/spabackground.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content {
    flex: 1; 
    padding-top: 100px; 
}


.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



